html, body {
  background-color: #666;
  color: #CCC;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  /* font-family: 'Ubuntu Condensed', sans-serif; */
  /* font-variant: small-caps; */
  font-size: 1em;
}
a , a:hover {
  color: #CCC;
  text-decoration: none;
  text-shadow: 4px 4px 4px #000;
}
a:hover {
  text-shadow: 4px 4px 4px #AAA;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  width: 90%;
  overflow: hidden;
}

.banner {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: #888;
  border-bottom: solid 10px #CCC;
  margin-bottom: 10px;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr auto;
  background-color: #888;
  border-left: solid 10px #CCC;
  margin-bottom: 10px;
  overflow: hidden;
}
header > img { grid-area: 1 / 1 / 3 / 2; }
header > a { grid-area: 1 / 2 / 2 / 3; }
header > ul { grid-area: 1 / 3 / 2 / 4; padding: 0px; list-style-type: disc; }
header > ul > li { display: inline; margin: 10px; }
header > span { grid-area: 2 / 2 / 3 / 4; margin: 10px;}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start; /* space-around;*/
  align-items: center;
  border-left: solid 10px #CCC;
  background-color: #888;
  margin: 10px;
}
section > span, section > image {
  width: 40%;
  margin: 10px;
}

figure {
  position: relative;
}
figure > img {
  width: 256px;
  height: 256px;
}
figure > figcaption:first-of-type {
  position: absolute;
  top: 5%;
  left: 5%;
  margin: 0;
  font-style: bold;
  font-size: 20px;
}
figure > figcaption:last-of-type {
  position: absolute;
  bottom: 5%;
  left: 5%;
  margin: 0;
}
